<%- include('../includes/head.ejs') %>
<link rel="stylesheet" href="/css/product-detail.css">
<link rel="stylesheet" href="/css/addToCart.css">

</head>

<body>
    <%- include('../includes/navigation.ejs') %>
    <main class="centered">
        <h1 id="productTitle"><%= product.title %></h1>
        <hr>
        <div class="container">
            <div class="row d-flex justify-content-around">
                <div class="col-12 col-sm-12 col-md-6">
                    <div class="productImage">
                        <img src="https://s3.us-east-2.amazonaws.com/yummba.in/productimages/<%= product.image %>.png"
                            alt="<%= product.title %>">
                    </div>
                </div>
                <div class="col-12 col-sm-12 col-md-6">
                    <p id="description"><%= product.description %></p>
                    <p id="price">Price: Rs <%= product.price %></p>

                    <!-- <% if (isAuthenticated) { %>
                        <%- include('../includes/add-to-cart.ejs') %>
                    <% } %> -->
                    <%- include('../includes/add-to-cart.ejs') %>
                </div>
            </div>
            <div class="row d-flex justify-content-around">
                <div class="ingredients col">
                    <div class="row d-flex justify-content-around ingredients">
                        <h1>Ingredients</h1>
                    </div>
                    <div class="row d-flex justify-content-around">
                        <% for(let ingredient of product.ingredients) { %>
                            <div class="col">
                                <img src="https://s3.us-east-2.amazonaws.com/yummba.in/ingredients/<%= ingredient %>.jpg" alt="<%= product.title %>">
                                <div class="ingredients-title"><p><%=ingredient%></p></div>    
                            </div>
                        <% } %>
                    </div>
                </div>
            </div>

        </div>
        <%- include('../includes/nutrition.ejs')%>
    </main>
    <%- include('../includes/end.ejs') %>